asgiref==3.7.2
distlib==0.3.6
Django==4.2.3
djangorestframework==3.14.0
filelock==3.12.2
glfw==2.5.5
glm==0.4.3
gunicorn==21.2.0
imageio==2.26.0
multipledispatch==0.6.0
mysql-connector-python==8.0.32
numpy==1.24.1
opencv-python==4.7.0.72
packaging==23.1
Pillow==9.4.0
platformdirs==3.9.1
plyfile==0.7.4
PyOpenGL==3.1.6
PyOpenGL-accelerate==3.1.6
pyrr==0.10.3
pytz==2023.3
scipy==1.10.1
six==1.16.0
sqlparse==0.4.4
trimesh==3.20.2
typing_extensions==4.7.1
tzdata==2023.3
virtualenv==20.24.0
